PORT=4600
APP_ID=Boilerplate
APP_ENV=development
LOG_LEVEL=debug
REQUEST_LIMIT=100kb
SESSION_SECRET=LzrmNZSnvVgSxveRqVRtfqTqthTbXauYJuTLzrmNZSnvVgSxveRqVRtfq

#Swagger
SWAGGER_API_SPEC=/api/v1/spec

#JWPlayer V1
JW_PLAYER_API_V1_URL=
JW_PLAYER_API_V1_KEY_ID=
JW_PLAYER_API_V1_KEY_SECRET=

#JWPlayer V2
JW_PLAYER_API_V2_KEY_ID=
JW_PLAYER_API_V2_KEY_SECRET=

#AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY_ID=

#Auth

#Auth0
AUTH_PROVIDER=JWT
AUTH_URL=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=

#JWT
JWT_SECRET_KEY="XEtjb0R6U35VrLndYT9_DzkvtANsXYYC7-iyUcf6WxyKI8w6Ccn08dGyJPvI587TRlWUXqeV9_YJuTLzrmNZSnvVgSxveRqVRtfqTqthTbXauFDAWiCZhFf8w2HXr4ENvIqILDUsbxd4o8XrPCA6okSaie0TRc3Awj5EUvoIp0ywK-9lKXldwex0thl-MXdDS2IcfN9Tr9IetD7ie6DJS0eiQRdyKFVe1oU6ysIQ_O5HAAH04gKYyqI99hQTzqIlfUWzEdNeCZcKvnhXBHwi0g_MH5ut34kwZAEiAxmAhHruatm03LWr_89sjzsNmDGd3qcAqPV1TowbVR6q-7sJuQ"

#Mongo
#TYPEORM_PORT = 27017
#TYPEORM_HOST = localhost
#TYPEORM_DATABASE = app_db
#TYPEORM_CONNECTION = mongodb

#MySql
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD =
TYPEORM_DATABASE = app_db
TYPEORM_PORT = 5432
TYPEORM_LOGGING = true
TYPEORM_SYNCHRONIZE = false
TYPEORM_ENTITIES = modules/**/entities/**/*.ts
TYPEORM_SUBSCRIBERS=modules/**/entities/subscribers/*.ts